.container {
  max-width: 1280px;
  margin: 10px auto 0;
  display: flex;
  justify-content: center;

  .products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 16px;
    width: 100%;
  }
  
}